username = your_remote_user
password = your_remote_user_passwort

soap_location = https://your_ispconfig_address:8080/remote/index.php
soap_uri = https://your_ispconfig_address:8080/remote/

wait_seconds = 120

debug = 1
